<!DOCTYPE html>
<html>
<head>
    <title>Project GridIron : Neural Network Evolution</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Content/bootstrap.min.css">
    <link rel="stylesheet" href="Content/bootstrap-theme.min.css">            
    <link rel="stylesheet" href="Content/site.css">
</head>
<body ng-app="nnviz">
    <div class="container">
        <div ng-controller="NNEvoController as vm" ng-cloak>
            <div class="row">
                <div class="col-sm-9">
                    <div class="form-group">
                        <input class="form-control"
                               ng-class="{ 
                                'has-errors': vm.Errors
                               }"
                               type="text"
                               ng-model="vm.TargetFuncString"
                               ng-keyup="$event.keyCode == 13 && vm.updateFunc()"/>
                        <div ng-show="vm.Errors" class="alert alert-danger">
                            {{vm.Errors}}
                        </div>
                    </div>                    
                </div>                
            </div>
            <div class="row">                
                <div class="col-sm-9">
                    <div class="form-group">
                        <button type="button" class="btn btn-default" ng-click="vm.updateFunc()">
                            Set Function
                        </button>
                        <button type="button" class="btn btn-default" ng-click="vm.train()">
                            {{ !vm.TrainStop ? "Start Training" : "Stop Training" }}
                        </button>
                        <button type="button" class="btn btn-default" ng-click="vm.reset()">
                            Reset
                        </button>
                    </div>                    
                </div>           
                <div class="col-sm-3">
                    <h4>
                        Generations: {{vm.Generations}}
                    </h4>
                </div>     
            </div>            
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="graph3dTarget"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="graph3dNetwork"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="graph2dTarget"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="graph2dNetwork"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="graphNetwork" style="height: 300px;"></div>
                    </div>                    
                </div>
                <div class="col-sm-3">                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Score</th>                                                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ns in vm.Trainer.Networks"
                                ng-click="vm.selectNetwork(ns.network)"
                                ng-class="{ 'active': ns.network == vm.Network }">
                                <td>{{$index + 1}}</td>                                
                                <td>{{ns.score}}</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>    
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/hamster.js"></script>
    <script src="Scripts/mousewheel.js"></script>
    <script src="Scripts/parser.js"></script>
    <script src="Scripts/nnpoc.js"></script>
</body>
</html>
