<!DOCTYPE html>
<html>
<head>
    <title>Project GridIron : Neural Network Evolution</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="Content/bootstrap.min.css">
    <link rel="stylesheet" href="Content/bootstrap-theme.min.css">            
    <link rel="stylesheet" href="Content/site.css">
</head>
<body ng-app="nnviz">
    <div class="container">
        <div ng-controller="NNEvoController as vm" ng-cloak>
            <div class="row">
                <button type="button" class="btn btn-default" ng-click="vm.train()">
                    {{ vm.TrainStop ? "Stop" : "Train" }}
                </button>
                <span>
                    Generations: {{vm.Generations}}
                </span>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="graph3dTarget"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="graph3dBest"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div id="graph2dTarget"></div>
                        </div>
                        <div class="col-sm-6">
                            <div id="graph2dBest"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="graphNetwork" style="height: 300px;"></div>
                    </div>                    
                </div>
                <div class="col-sm-3">                    
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Score</th>                                                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ns in vm.Trainer.Networks"
                                ng-click="vm.selectNetwork(ns.network)"
                                ng-class="{ 'active': ns.network == vm.Network }">
                                <td>{{$index + 1}}</td>                                
                                <td>{{ns.score}}</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.17.0/vis.min.js"></script>    
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/hamster.js"></script>
    <script src="Scripts/mousewheel.js"></script>
    <script src="Scripts/nnpoc.js"></script>
</body>
</html>
